<%= form_for @candidat do |f| %>
  <% if @candidat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidat.errors.count, "error") %> prohibited this candidat from being saved:</h2>

      <ul>
      <% @candidat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :formulaire_id%>

  <%= f.fields_for :responses , OpenStruct.new(@candidat.responses) do |builder| %>
    <% @candidat.formulaire.questions.each do |field| %>
      <%= render "candidats/fields/#{field.type_field}" , field: field , f: builder%>
    <%end%>
  <%end%>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
